body {
    font-family: Helvetica, serif;
}


#page {
    margin-bottom: 60px;
}


/* Tables */

table {
    width: 100%;
}

.table {
    font-size: 1.1em;
}

.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

.table-karma tr.waiting {
    /*background-color: #d6dcdc;*/
    color: #c3d0d0;
    font-style: italic;
}

.table-karma tr.denied {
    /*background-color: #d6dcdc;*/
    color: #cf6565;
    font-style: oblique;
    font-weight: bold;
}

.table-karma tr.waiting::after {
    color: #333333;
    font-size: 1.5em;
    content: "*";
}

.table-karma tr.denied::after {
    color: #333333;
    font-size: 1.5em;
    content: "**";
}

#statform {
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #bcbaba;
    padding: 20px;
    background-color: #fcfcfc;
}


/* Forms */

form input,
form select {
    width: 100%;
    padding: 6px 10px;
    margin: 6px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form textarea {
    min-width: 100%;
}

form label {
    display: block;
}

form select:disabled {
    background-color: #ebebe4;
}

form legend {
    font-size: 15px;
    font-style: italic;
}

form #user-id {
    height: 150px;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: initial;
    margin-top: 4px \9;
    margin-left: 0px;
    margin-right: 10px;
    width: 20px;
    display: inline;
}

.error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
}


#karmaform {
    background: #F9F9F9;
    border-radius: 10px;
    border: 1px solid #bcbaba;
    padding: 20px;
}

p.forgot-password {

    margin-top: 30px;    
    text-decoration: underline;
    font-style: italic;
}

/* Flash Messages */

div.message {
    text-align: center;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms, margin 300ms;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    width: 80%;
    line-height: 2.5em;
    border-radius: 5px;
    margin: 5px auto;
}

div.message::before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
    cursor: pointer;
}

div.message.error::before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}

div.message.success {
    background-color: #5ed3ab;
    color: #626262;
    cursor: pointer;
}

div.message.success::before {
    padding: 11px 16px 14px 7px;
    content: "✓";
    color: green;
    margin-right: 9px;
}

div.message.collapsed {
    height: 0;
    margin: 0px auto;
}


/* Icons */

.glyphicon {
    margin-right: 10px;
}


/* Stack-tracker */

#stacktracker {
    margin-top: 80px;
    margin-bottom: 150px;
    width: 100%;
    border-style: groove;
    border-width: 4px;
    background-color: #EEEEEE;
    padding: 1px;
    position: relative;
}

#stacktracker .bar {
    display: inline-block;

    height: 50px;
    width: 0px;

    padding: 5px;
    margin-right: -5px;

    color: #EEEEEE;
    font-size: 1.2em;

    text-align: right;

    border: solid #333333 1px;

    -webkit-transition: width 2s;
    transition: width 5s;
}

.bar#bar-1 {
    background-color: #006633;
}

.bar#bar-2 {
    background-color: #bfcb65;

}

#stacktracker .budget {
    position: absolute;
    width: 100%;
    top: 0px;

    color: #080808;
    font-size: 1.2em;

    padding-top: 25px;
    padding-right: 5px;

    text-align: right;
}