<?= $this->Form->create($committee) ?>
<fieldset>
    <legend>Add Case</legend>
    <?php
    echo $this->Form->input('name');
    echo $this->Form->input('email');
    ?>
</fieldset>
<?= $this->Form->button(__('Submit')) ?>
<?= $this->Form->end() ?>
